
			* {
				margin:0px;
				padding:0px;
				font-family: inherit;
			}
			body {
				background-image: url('http://www.planwallpaper.com/static/images/6768666-1080p-wallpapers.jpg');*/
				/*background-image:url('media/fondo.jpg');*/
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-size: cover;

			}

			ul, ol {
				list-style:none;
				font-family: cursive;
			}

			 table{
				 border: collapse;
			 }

			tr,td{
				margin: 10px;
				border:   solid 2px;
				border-color: black;
				font-size: 40px;

			}


			p{
					margin: 20px;
					font-size: 18px;
					font-weight: bold;
			}

			iframe{
				margin: 20px;
				padding: 10px;



			}

			td:hover {
				background-color:#434343;
			}


			.nav {
				width:40%;
				margin: auto;

			}

			.nav > li {
				float:left;
			}

			.nav li a {
				background-color:#000;
				color:#fff;

				text-decoration:none;
				text-align: center;
				font-size: 2em;
				padding:10px 12px;
				display:block;
			}

			.nav li a:hover {
				background-color:#434343;
			}

			.nav li ul {
				display:none;
				position:absolute;
				min-width:240px;
			}

			.nav li:hover > ul {
				display:block;
			}

			.nav li ul li {
				position:relative;
			}

			.nav li ul li ul {
				right:-140px;
				top:0px;
			}

			.contenedor{
				margin: auto;
				margin-top: 40px;
				text-align: center;
				padding-bottom: 56.25%;
				padding-top: 25px;
				width: 80%;
				height: 80%;
				background-color: rgba(200,200,200, 0.5);
				border-radius:  10px;
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
			}


			#header {
						margin:auto;
						width:80%;
						height: 10%;
						background-color: #000;
						opacity: 0.8;
						border-radius: 0px 0px 20px 20px;
						-moz-border-radius: 0px 0px 20px 20px;
						-webkit-border-radius: 0px 0px 20px 20px;

				}

		#cont_audio {
					margin: auto;
					margin-top:30px;
					width: 80%;
					height: 50%;
					background-color: rgba(200, 200, 200, 0.3);
					text-align: left;
					border-radius:  10px;
					-moz-border-radius: 10px;
					-webkit-border-radius: 10px;
		}

		#player{
			margin:auto;
			margin-left: 10px;
			margin-top: 30px;
			position: inherit;
		}
